@media (min-width:1440px) {
    body{
        overflow-x: hidden !important;
    }
    .video_tv{
        min-width: 54%;
        min-height: 220px;
        position: relative;
        bottom: 10px;
        right: 64.5%;
        background-image: url("../img/crossover_animes_gif.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .imagem_celular{
        min-width: 38%;
        height: 280px;
        position: relative;
        top: 13%;
        right: 65%;
        background-image: url("../img/kimetsu_no_yaiba.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .copy{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .copy > small{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}
@media (max-width:1024px) {
    body{
        overflow-x: hidden !important;
    }
    .logo a p{
        font-size: 1.5rem;
    }
    .navegacao > ul > li > select{
        padding: 8px 10px;
        font-size: 0.9  rem;
    }
    .navegacao > ul > li > .registro{
        padding: 10px 10px;
    }
    .navegacao > ul > li > .login{
        padding: 10px 10px;
    }
    .estatico h1{
        font-size: 1.5rem;
    }
    .dinamico li{
        font-size: 3rem;
    }
    .text_tv h2{
        font-size: 2rem;
    }
    .video_tv{
        min-width: 75%;
        min-height: 214px;
        position: relative;
        bottom: 10px;
        right: 90%;
    }
    .text_celular h2{
        font-size: 1.9rem;
    }
    .imagem_celular{
        min-width: 54%;
        height: 280px;
        position: relative;
        top: 13%;
        right: 92%;
    }
    .linkedin{
        width: 40%;
    }
    .linkedin_icon{
        border-radius: 4px;
    }
    .github{
        width: 40%;
    }
    .github_icon{
        border-radius: 4px;
    }
}

@media (max-width:768px) {
    body{
        overflow-x: hidden !important;
    }
    .logo a p {
        font-size: 1.3rem;
    }
    .navegacao{
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .navegacao ul{
        margin-right: 1.5rem;
        gap: 1rem;
    }
    .navegacao > ul > li > select{
        padding: 8px 10px;
        font-size: 0.9rem;
    }
    .navegacao > ul > li > .registro{
        padding: 9px 10px;
        font-size: 0.9rem;
    }
    
    .navegacao > ul > li > .login{
        padding: 10px 10px;
    }
    .container{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_tv{
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .text_tv h2{
        font-size: 1.5rem;
    }
    .text_tv p{
        font-size: 0.8rem;
    }
    .img_tv{
        width: 50%;
        height: 300px;
        display: flex;
        align-items: center;
    }
    .img_tv > img{
        height: 330px;
    }
    .video_tv{
        min-width: 84%;
        min-height: 181px;
        position: relative;
        bottom: 7px;
        right: 100%;
        background-image: url("../img/crossover_animes_gif.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text_celular{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .text_celular > h2{
        font-size: 1.5rem;
    }
    .text_celular p{
        text-align: right;
    }
    .img_celular{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .img_celular img{
        margin-left: 10rem;
    }
    .imagem_celular{
        min-width: 57%;
        height: 275px;
        position: relative;
        top: 12%;
        right: 98%;
        background-image: url("../img/kimetsu_no_yaiba.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .linkedin{
        width: 50%;
    }
    .linkedin .linkedin_icon{
        width: 45%;
        border-radius: 4px;
    }
    .github{
        width: 50%;
    }
    .github .github_icon{
        width: 45%;
        border-radius: 4px;
    }
}



/*425px*/

@media (max-width:425px) {
    .header{
        height: 120px;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        padding-top: 5px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo a p {
        font-size: 1.5rem;
    }

    .navegacao{
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navegacao > ul{
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .navegacao > ul > li > select{
        display: none;
    }

    .navegacao > ul > li > .registro{
        padding: 10px 20px;
    }
    .navegacao > ul > li > .login{
        padding: 10px 30px;
    }
    .container{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .estatico h1{
        font-size: 1.2rem;
    }

    .tv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_tv{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .text_tv h2{
        font-size: 1.4rem;
    }
    .text_tv p{
        visibility: hidden;
    }
    .img_tv{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    .img_tv > img{
        width: 95%;
        height: 330px;
        margin-left: 10px;
    }
    .video_tv{
        min-width: 70%;
        min-height: 181px;
        position: relative;
        bottom: 7px;
        right: 83%;
        background-image: url("../img/crossover_animes_gif.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .celular{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_celular{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .text_celular > h2{
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .text_celular p{
        visibility: hidden;
    }
    .img_celular{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .img_celular img{
        width: 100%;
    }
    .imagem_celular{
        min-width: 40%;
        height: 280px;
        position: relative;
        top: 19%;
        right: 70%;
        background-image: url("../img/kimetsu_no_yaiba.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .footer{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media_social{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .linkedin{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .linkedin > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-left: 1rem;
    }
    .linkedin > .linkedin_icon{
        width: 30%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        border-radius: 4px; 
    }
    .linkedin_icon > a > img{
        width: 100%;
    }
    .linkedin_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .github{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px; 
    }
    .github > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-right: 1.1rem;
    }
    .github > .github_icon{
        width: 30%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 4px;
    }
    .github_icon > a > img{
        width: 100%;
    }
    .github_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .copy{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .copy > small{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
    }

}

/*375px*/
@media (max-width:375px) {
    .header{
        height: 120px;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        padding-top: 5px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo a p {
        font-size: 1.5rem;
    }
    .container{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .estatico h1{
        font-size: 1.1rem;
    }
    
    .navegacao{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navegacao ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navegacao > ul > li > select{
        display: none;
    }
    
    .navegacao > ul > li > .registro{
        height: 40px;
        font-size: 1rem;
    }
    
    .navegacao > ul > li > .login{
        padding: 10px 35px;
    }
    .tv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_tv{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .text_tv h2{
        font-size: 1.4rem;
    }
    .text_tv p{
        visibility: hidden;
    }
    .img_tv{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    .img_tv > img{
        width: 95%;
        height: 330px;
        margin-left: 10px;
    }
    .video_tv{
        min-width: 70%;
        min-height: 181px;
        position: relative;
        bottom: 7px;
        right: 83%;
        background-image: url("../img/crossover_animes_gif.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .celular{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_celular{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .text_celular > h2{
        font-size: 1.3rem;
        margin-left: 3rem;
    }
    .text_celular p{
        visibility: hidden;
    }
    .img_celular{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .img_celular img{
        width: 100%;
        margin-right: 1rem;
    }
    .imagem_celular{
        min-width: 40%;
        height: 280px;
        position: relative;
        top: 19%;
        right: 74%;
        background-image: url("../img/kimetsu_no_yaiba.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .footer{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media_social{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .linkedin{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .linkedin > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    .linkedin > .linkedin_icon{
        width: 30%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    .linkedin_icon > a > img{
        width: 100%;
    }
    .linkedin_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .github{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px; 
    }
    .github > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-right: 1.1rem;
        font-size: 1rem;
    }
    .github > .github_icon{
        width: 30%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 4px;
    }
    .github_icon > a > img{
        width: 100%;
    }
    .github_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .copy{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .copy > small{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
    }

}

/*320px*/
@media (max-width:320px) {
    body{
        overflow-x: hidden !important;
    }
    .header{
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #222222;
        padding-top: 5px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo a p {
        font-size: 1.5rem;
    }
    .container{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .estatico{
        min-width: 100%;
    }
    .estatico h1{
        font-size: 0.8rem;
    }
    
    .navegacao{
        width: 100%;
    }
    .navegacao ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .navegacao > ul > li > select{
        display: none;
    }
    
    .navegacao > ul > li > .registro{
        font-size: 1rem;
    }
    
    .navegacao > ul > li > .login{
        padding: 10px 35px;
    }
    .tv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_tv{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .text_tv h2{
        font-size: 1.4rem;
    }
    .text_tv p{
        visibility: hidden;
    }
    .img_tv{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    .img_tv > img{
        width: 95%;
        height: 330px;
        margin-left: 10px;
    }
    .video_tv{
        min-width: 70%;
        min-height: 181px;
        position: relative;
        bottom: 7px;
        right: 83%;
        background-image: url("../img/crossover_animes_gif.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .celular{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_celular{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .text_celular > h2{
        font-size: 1.3rem;
        margin-left: 3rem;
    }
    .text_celular p{
        visibility: hidden;
    }
    .img_celular{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .img_celular > img{
        width: 90vw;
        height: 300px;
    }
    .imagem_celular{
        min-width: 36%;
        height: 200px;
        position: relative;
        top: 15%;
        right: 68%;
        z-index: 1000;
        background-image: url("../img/kimetsu_no_yaiba.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .footer{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media_social{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .linkedin{
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .linkedin > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    .linkedin > .linkedin_icon{
        width: 30%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    .linkedin_icon > a > img{
        width: 100%;
    }
    .linkedin_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .github{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px; 
    }
    .github > h2{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        margin-right: 1.1rem;
        font-size: 1rem;
    }
    .github > .github_icon{
        width: 30%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 4px;
    }
    .github_icon > a > img{
        width: 100%;
    }
    .github_icon:hover{
        -webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    @-webkit-keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes flip-horizontal-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
    }
    .copy{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .copy > small{
        color: #adadad;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.6rem;
    }

}