*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
.main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/kimetsu_no_yaiba_bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
/*header*/
.header_principal{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}
.header .voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.header i{
    color: #ffffff;
    font-size: 1.8rem;
}

.header .contato{
    margin-right: 2rem;
    text-decoration: none;
    color: #141414;
    font-weight: 700;
    padding: 8px 20px;
    background-color: #00e64d;
    border-radius: 4px;
}
.ficha_tecnica{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.ficha_tecnica .container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container h1{
    color: #ffffff;
    font-size: 3rem;
}
.container .caracteristica{
    color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .3s;
}
.caracteristica .idade{
    padding: 5px;
    border: 1px solid #ffffff;
}
.caracteristica:hover span{
    color: #AAA;
}
.caracteristica .relevante{
    color: #00e64d;
    font-weight: 700;
}
.container p{
    color: #AAA;
}
.container .assistir{
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #00e64d;
    padding: 10px 10px;
    text-decoration: none;
    color: #141414;
    font-weight: 700;
    transition: .5s;
}
.seta{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 45px;
    left: 46%;
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
.seta span{
    font-size: 5rem;
    color: #00e64d;
}
/*principal*/